$input-height: 35px;

form {

  .form-control {
    display: flex;
    margin: 10px 0;

    input {
      box-sizing: border-box;
      width: 100%;
      height: $input-height;
      border: 1px solid #eee;
      border-radius: 2px;
      padding: 0 7px;
    }

    label {
      box-sizing: border-box;
      text-align: right;
      height: $input-height;
      line-height: $input-height;
      font-size: 0.8em;
      padding-right: 20px;
    }

    .label-wrap {
      text-align: right;
    }

    .col-md-2 {
      flex: 2;
    }

    .col-md-3 {
      flex: 3;
    }

    .col-md-4 {
      flex: 4;
    }

    .col-md-6 {
      flex: 6;
    }

    .col-md-7 {
      flex: 7;
    }

    .col-md-8 {
      flex: 8;
    }

    .form-btn {
      width: 50px;
      height: 30px;
      border: 1px solid #ddd;
      border-radius: 2px;
      color: #333;
      background-color: #fff;
      font-size: .8em;
    }
  }
}
