@import "common";

$img-side: 50px;

#activity-container {
    width: 80%;
    margin: 0 auto;

    .activity-list-wrap {
        padding: 20px;
        .current-activity {
            .activity-item {
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                height: 100px;

                .ac-head {
                    .ac-image {
                        float: left;
                        width: 50px;
                        height: 50px;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            width: 100%;
                        }
                    }
                    .ac-title {
                        float: left;
                    }
                    .ac-details {
                        display: inline-block;
                    }

                }
                .ac-body {

                }
            }
        }
    }
}