@import "common.scss";
//@import "../stylesheets/animate.min.css";

$intro-height: 500px;
$intro-width: 600px;

//btn config
$btn-width: 200px;
$btn-height: 50px;
$btn-font-size: 20px;
$btn-font-weight: 700;

$btn-hover-font-size: 30px;

html, body {height: 100%;}

#background-cover {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #666;
  opacity: 0.7;

}

#background-container {
  width: 100%;
  height: 100%;
  background: url('../../image/background.jpg') no-repeat center center;
  background-size: cover;

}

#index-container {
  .intro-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    height: $intro-height;
    width: $intro-width;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -$intro-height/2;
    margin-left: -$intro-width/2;
    padding: 30px 10px;

    .intro-header {
      width: 100%;
      h1 {
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 8em;
        margin: 20px 0;

        span {
          display: inline-block;
          width: 110px;
          font-family: 微软雅黑;
        }
      }
    }

    .intro-details {
      width: 100%;
      margin: 20px 0;
      p {
        width: 100%;
        text-align: center;
        color: #aaa;
      }
    }

    .entry-btn {
      position: absolute;
      left: 50%;
      margin-left: -$btn-width/2;

      button {
        width: $btn-width;
        height: $btn-height;
        padding: 0;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        color: #000;
        font-size: $btn-font-size;
        font-weight: $btn-font-weight;
      }

    }
  }
}
