@import "common.scss";

$intro-bg-color: #2B7BB9;
$text-line-height: 1.2em;
$text-letter-spacing: 0.1em;
$text-border-radius: 15px;

@mixin text-styles {
    margin: 10px;
    text-indent: 2em;
    line-height: $text-line-height;
    letter-spacing: $text-letter-spacing;
}

#intro-container {
    width: 80%;
    padding: 0 10px;
    margin: 0 auto;

    .intro-text {
        margin: 20px 0;
        background-color: #fff;

        .total-intro {
            color: #fff;
            padding: 40px 30px 30px;
            background-color: #2B7BB9;
            border-top-left-radius: $text-border-radius;
            border-top-right-radius: $text-border-radius;

            h1 {
                width: 100%;
                text-align: center;
                font-size: 3em;
                font-weight: 700;
            }

            h3 {
                width: 100%;
                text-align: center;
                font-size: 1em;
            }

            .main-content {
                padding: 0 20px;
                @include text-styles;
            }
        }

        .intro-section-wrap {
            width: 100%;
            overflow: hidden;
            padding: 20px 30px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            .intro-department {
                float: left;
                width: (100%)/3;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 10px;

                h1 {
                    width: 100%;
                    text-align: center;
                    font-size: 1.5em;
                    margin-bottom: 20px;
                }

                .main-content {
                    @include text-styles;
                }
            }
        }
    }
}