<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>南京邮电大学-通院科协</title>
  </head>
  <body>
    <div id="background-container">

    </div>
    <div id="background-cover">

    </div>
    <index-main></index-main>
  </body>
  <script src="./public/v1.0.0/dist/index.build.js"></script>
</html>
